{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% csrf_token %}
    <section>
        <div class="gap gray-bg">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row" id="page-contents">
                            {% include 'includes/sidebar.html' %}
                            <div class="col-lg-6">
                                <div class="central-meta">
                                    <div class="frnds">
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item"><a class="active" href="#frends" data-toggle="tab">Find Friends</a></li>
                                        </ul>

                                        <div class="tab-content">
                                            <div class="tab-pane active fade show " id="frends">
                                                <ul class="nearby-contct">
                                                    {% for user in users %}
                                                        <li>
                                                            <div class="nearly-pepls">
                                                                <figure>
                                                                    {% if user.profile.profile_image.url %}
                                                                        <a href="#" title=""><img src="{{ user.profile.profile_image.url }}" alt=""></a>
                                                                    {% else %}
                                                                        <a href="#" title=""><img src="{% static 'images/default.jpg' %}" alt=""></a>
                                                                    {% endif %}
                                                                </figure>
                                                                <div class="pepl-info">
                                                                    <h4><a href="#" title="">{{ user.username }}</a></h4>
                                                                    <span>Software Engineer</span>
                                                                    <a href="#" title="" data-url="{% url 'friends:send-request' user.username %}" class="add-butn add-friend" data-ripple="" data-friend="{{ user.username }}">Add Friend</a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                                <div class="lodmore">
                                                    <button class="btn-view btn-load-more"></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- centerl meta -->
                            <div class="col-lg-3">
                                <aside class="sidebar static">
{#                                    <div class="widget">#}
{#                                        <h4 class="widget-title">Who's follownig</h4>#}
{#                                        <ul class="followers">#}
{#                                            <li>#}
{#                                                <figure><img src="images/resources/friend-avatar2.jpg" alt=""></figure>#}
{#                                                <div class="friend-meta">#}
{#                                                    <h4><a href="time-line.html" title="">Kelly Bill</a></h4>#}
{#                                                    <a href="#" title="" class="underline">Add Friend</a>#}
{#                                                </div>#}
{#                                            </li>#}
{#                                            <li>#}
{#                                                <figure><img src="images/resources/friend-avatar4.jpg" alt=""></figure>#}
{#                                                <div class="friend-meta">#}
{#                                                    <h4><a href="time-line.html" title="">Issabel</a></h4>#}
{#                                                    <a href="#" title="" class="underline">Add Friend</a>#}
{#                                                </div>#}
{#                                            </li>#}
{#                                            <li>#}
{#                                                <figure><img src="images/resources/friend-avatar6.jpg" alt=""></figure>#}
{#                                                <div class="friend-meta">#}
{#                                                    <h4><a href="time-line.html" title="">Andrew</a></h4>#}
{#                                                    <a href="#" title="" class="underline">Add Friend</a>#}
{#                                                </div>#}
{#                                            </li>#}
{#                                            <li>#}
{#                                                <figure><img src="images/resources/friend-avatar8.jpg" alt=""></figure>#}
{#                                                <div class="friend-meta">#}
{#                                                    <h4><a href="time-line.html" title="">Sophia</a></h4>#}
{#                                                    <a href="#" title="" class="underline">Add Friend</a>#}
{#                                                </div>#}
{#                                            </li>#}
{#                                            <li>#}
{#                                                <figure><img src="images/resources/friend-avatar3.jpg" alt=""></figure>#}
{#                                                <div class="friend-meta">#}
{#                                                    <h4><a href="time-line.html" title="">Allen</a></h4>#}
{#                                                    <a href="#" title="" class="underline">Add Friend</a>#}
{#                                                </div>#}
{#                                            </li>#}
{#                                        </ul>#}
{#                                    </div><!-- who's following -->#}
                                    <div class="widget friend-list stick-widget">
                                        <h4 class="widget-title">Find friends</h4>
                                        <div id="searchDir"></div>

                                        <ul id="people-list" class="friendz-list">
                                            {% for user in users %}
                                                <li>
                                                    <div class="nearly-pepls">
                                                        <figure>
                                                            {% if user.profile.profile_image.url %}
                                                                <a href="#" title=""><img src="{{ user.profile.profile_image.url }}" alt=""></a>
                                                            {% else %}
                                                                <a href="#" title=""><img src="{% static 'images/default.jpg' %}" alt=""></a>
                                                            {% endif %}
                                                        </figure>
                                                        <div class="pepl-info">
                                                            <h4><a href="#" title="">{{ user.username }}</a></h4>
                                                            <a href="#" title="" data-url="{% url 'friends:send-request' user.username %}" class="add-butn add-friend" data-ripple="" data-friend="{{ user.username }}">Add Friend</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                                <form class="text-box">
                                                    <textarea placeholder="Post enter to post..."></textarea>
                                                    <div class="add-smiles">
                                                        <span title="add icon" class="em em-expressionless"></span>
                                                    </div>
                                                    <div class="smiles-bunch">
                                                        <i class="em em---1"></i>
                                                        <i class="em em-smiley"></i>
                                                        <i class="em em-anguished"></i>
                                                        <i class="em em-laughing"></i>
                                                        <i class="em em-angry"></i>
                                                        <i class="em em-astonished"></i>
                                                        <i class="em em-blush"></i>
                                                        <i class="em em-disappointed"></i>
                                                        <i class="em em-worried"></i>
                                                        <i class="em em-kissing_heart"></i>
                                                        <i class="em em-rage"></i>
                                                        <i class="em em-stuck_out_tongue"></i>
                                                    </div>
                                                    <button type="submit"></button>
                                                </form>
                                            </div>
                                        </div>
                                    </div><!-- friends list sidebar -->

                                </aside>
                            </div><!-- sidebar -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}